html {
    max-height: 1000px;
}

body {
    font-size: 14px;
    width: 720px;
    /*max-width: 720px;*/
    max-height: 1000px;
    margin: 10px;
    position: relative;
    overflow: scroll;
}

button {
    height: 50px;
    outline: none;
}

.container {
    max-width: 700px;
}
